.btn-orange-long {
  transform: translateY(3rem);
  margin-left: 3rem;
  width: 200px;
  background-color: transparent;
  border: 1px solid #f7b358;
  border-radius: 2px;
  padding: 5px;
  color: white;
  font-weight: bold;

  &:hover {
    background-color: $button-color;
    transition: 0.3s;
  }
}

.btn-chatroom {
  width: 200px;
  background-color: #f7b358;
  border-radius: 2px;
  padding: 7px;
  color: white;
  font-weight: bold;
  border: none;

  &:hover {
    background-color: $hover-button-color;
    transition: 0.3s;
  }

}

.btn-chatroom a {
  color: white;
}

.row-shadow {
  -webkit-box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.5); 
  box-shadow: 5px 5px 10px -5px rgba(0,0,0,0.5);
}

.row-info {
  height: 20vh;
}


.banner-dark {
  background: rgb(33,37,41);
  background: linear-gradient(90deg, rgba(33,37,41,1) 0%, rgba(39,42,46,1) 47%, rgba(247,179,88,1) 98%);
  height: 30vh;
}

.profile-image {
  transform: translateY(3rem);
  margin-left: 3rem;
}


#mates{
  width:50%;
}

#shares{
  width:50%;
}


#text-white {
 color: #e9ecef;
}

#username {
  font-size: 50px;
  font-weight: bold;
}
