#mates{
  width:50%;
}

#shares{
  width:50%;
}


#text-white {
 color: #e9ecef;
}

#info {
  height: 130px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #808B96;
}

#username {
  font-size: 50px;
  font-weight: bold;
}


