.btn-orange-long {
  transform: translateY(3rem);
  margin-left: 3rem;
  width: 200px;
  background-color: transparent;
  border: 1px solid #f7b358;
  border-radius: 2px;
  padding: 5px;
  color: white;
  font-weight: bold;

  &:hover {
    background-color: $button-color;
    transition: 0.3s;
  }
}

.banner-dark {
  background-color: #133c55;
  height: 30vh;
}

.profile-image {
  transform: translateY(3rem);
  margin-left: 3rem;
}


#mates{
  width:50%;
}

#shares{
  width:50%;
}


#text-white {
 color: #e9ecef;
}

#username {
  font-size: 50px;
  font-weight: bold;
}
