<div class="container justify-content-center">
  <h1>Your Chats</h1>
  
  <% @chatrooms.each do |chatroom| %>
    <% if chatroom.status == true %>
      <%=  link_to "chat", chatroom_path(chatroom.id) %>
      <br>
    <% end %>
  <% end %>
  </div>
</div>


