<div class="col-12">
  <div class="card-results text-white bg-dark mb-3">
    <% if user.photo.attached? %>
        <%= cl_image_tag user.photo.key, alt: "Profile picture", height: 200, width: 200, crop: :fill %>
      <% else %>
        <%= cl_image_tag("no-photo.jpg_xfimyh", height: 200, width: 200, crop: :fill) %>
      <% end%>
        <div class="card-results-infos">
        <h2>
          <%= link_to "#{user.first_name} #{user.last_name}", user_path(user.username) %>
        </h2>
        <br>
        <p><%= user.bio %></p>
      </div>
  </div>
</div>



