<h1>DJs</h1>
<% @users.each do |user| %>
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <h2><%= user.username %></h2>
      <p><%= user.bio %></p>
    </div>
  </div>
<% end %>