<div class="container">
  <h1 class="text-white my-3">Instrumentalists</h1>
  <% @users.each do |user| %>
    <div class="card-results text-white bg-dark mb-3">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-results-infos">
        <h2><%= user.first_name %></h2>
        <br>
        <p><%= user.bio %></p>
      </div>
    </div>
  <% end %>
</div>
