.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-orange-long {
  margin-left: 2rem;
  width: 200px;
  background-color: transparent;
  border: 1px solid #f7b358;
  border-radius: 2px;
  padding: 5px;
  color: white;
  font-weight: bold;

  &:hover {
    background-color: $hover-button-color;
    transition: 0.3s;
  }
}