/* Top cards */
.card {
  box-shadow: 3px 3px 6px 4px rgba(0,0,0,0.5);
}

.card-user {
  -webkit-box-shadow: 3px 3px 6px 4px rgba(0,0,0,0.14); 
  box-shadow: 3px 3px 6px 4px rgba(0,0,0,0.5);
  border-radius: 22px;
  border: none;

  &:hover {
    -webkit-box-shadow: 0px 0px 5px 4px #EE8133; 
    box-shadow: 0px 0px 5px 4px #EE8133;
    text-decoration: none;
  }

}

.card-user-body {
  background-color: $user-card-color;
  font-family: $body-font;
  color: $text-color;
  height: 75px;
  border-radius: 0% 0% 20px 20px;
}

.card-user-body p {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
  font-size: 20px;

  &:hover {
    text-decoration: none;
    color: $hover-button-color;
    transition: 0.3s;
  }
}

.card-img-top {
  height: 225px;
  background-size: cover;
  object-fit: cover;
  border-radius: 20px 20px 0% 0%;
}

/* Bottom cards */

.circular-card {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  font-family: $body-font;
  color: $text-color;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 20px;

  &:hover {
    -webkit-box-shadow: 0px 0px 5px 4px #EE8133; 
    box-shadow: 0px 0px 5px 4px #EE8133;
    text-decoration: none;
  }
}

.circular-card p {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 22px;

  &:hover {
    text-decoration: none;
    color: $hover-button-color;
    transition: 0.3s;
  }
}

#djs {
  background-image: url("dj.jpg"), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5));
  background-size: cover;
  object-fit: cover;
}

#vocalists {
  background-image: url("vocalist.jpg"), linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  background-size: cover;
  object-fit: cover;
}

#instrumentalists {
  background-image: url("instrumentalist.jpg"), linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  background-size: cover;
  object-fit: cover;
}

#technicians {
  background-image: url("technician.jpg"), linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
  background-size: cover;
  object-fit: cover;
}

/* Cards collections */

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

/* Card results */

.card-results {
  overflow: hidden;
  height: 100px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 30px;
  margin-bottom: 1px;
}

.card-results img {
  height: 100%;
  width: 200px;
  object-fit: cover;
  border-radius: 0px;
}

.card-results h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-results p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 5px;
  margin-top: 8px;
}

.card-results .card-results-infos {
  padding: 16px;
}
