.carousel-inner {
  height: 30rem;
  width: 75rem;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  border-radius: 15px;
}

.carousel-caption {
  padding-bottom: 500px;
}

.carousel-caption a {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 60px;
  font-weight: bold;

  &:hover {
    text-decoration: none;
    color: $hover-button-color;
    transition: 0.3s;
  }
}

.carousel-image {
  object-fit: cover;
  background-size: cover;
}
