.navbar-lewagon {
  justify-content: space-between;
  background: white;
  background-color: transparent;
  transition: 0.5s background-color ease;
  position: sticky;
  top: 0;
  z-index: 5000;
}

.navbar-lewagon-grey {
  background-color: #212529;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

#search-bar {
  border-radius: 15px;
}

.logo {
  border-radius: 50%;
  height: 55px;
}

.avatar-navbar{
  border-radius: 100%;
}



#query {
  width: 250px;
  border-radius: 25px;
  height: 40px;
  margin-right: 10px;
}

.search-bar-icon{
  color: #f7b358;
  font-size:25px;
  &:hover {
    color: #ee8133;
    transition: 0.3s;
  }
}

.search-bar-icon-back{
  color: #f7b358;
  font-size:24px;
  margin-left: 10px;
  &:hover {
    color: #ee8133;
    transition: 0.3s;
  }
}

.search-bar-landing-page
{
    justify-content: center;
    top: 150px;
    position: relative;
    left: 40px;
    #query{ width:500px;

}
}
